 body {
    text-align: center;
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#message {
    color: rgb(107, 101, 101);
    
}
#gameMessage {
    color: gray;
}

section.board {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    padding: 75px;
}

div {
    text-align: center;
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

#resetBtn {
    margin: 0 auto;
}



/* 
html, body {
    height: 100vh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  td {
    height: 200px;
    width: 200px;
  }
  
  td div {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    pointer-events: none;
  }
  
  tr td:nth-child(2) {
    border-left: 4px dashed grey;
    border-right: 4px dashed grey;
  }
  
  tr:nth-child(2) td {
    border-top: 4px dashed grey;
    border-bottom: 4px dashed grey;
  }
  
  button {
    margin-top: 30px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
   */