body {
  font-family: 'Kreon', serif;
  background: rgb(232,255,94);
  background: radial-gradient(circle, rgba(232,255,94,1) 0%, rgba(131,227,123,1) 47%, rgba(25,191,146,1) 66%, rgba(0,151,149,1) 80%, rgba(4,111,128,1) 90%, rgba(47,72,88,1) 100%);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 60px;
}
#message {
  font-size: 30px;
}
section.board {
  padding: 50px;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}


